@inherits LayoutComponentBase

<PageTitle>BTC Blazor</PageTitle>
<link href="css/matrix-background.css" rel="stylesheet" />

<main class="matrix-background">
    <div>
        <a href="https://github.com/GodWasAProgrammer" target="_blank">About BTC</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
