@inherits LayoutComponentBase
@using MudBlazor

<PageTitle>BTC Blazor</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<main class="matrix-background">
    <div>
        <a href="https://github.com/GodWasAProgrammer" target="_blank">About BTC</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
