@page "/Generator"

@using WebUI.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using Bulk_Thumbnail_Creator;
@using Microsoft.Identity;
@using Bulk_Thumbnail_Creator.Services;

@inject PicDataService ds;
@inject JobService js;

<PageTitle>Bulk Thumbnail Creator</PageTitle>
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <MudImage Src="/images/BTCLogo.png"></MudImage>
            </div>

            <div style="padding-top: 20px;">
                <InputMenu @ref="inputMenuRef" job="CurrentJob" returnStateUpdate="BuildImageDisplay" ResetState="reset"></InputMenu>
            </div>

            <ImageDisplay CurrentJob="CurrentJob" @ref="imageDisplayref" ResetState="reset"></ImageDisplay>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>
@code
{
    public void reset()
    {
        CurrentJob = null;
        inputMenuRef.Reset();
    }

    public Job CurrentJob;

    protected override async Task OnInitializedAsync()
    {
        if (CurrentJob == null)
        {
            CurrentJob = await js.RequestCurrentJob();
        }

    }

    ImageDisplay imageDisplayref;

    InputMenu inputMenuRef;

    /// <summary>
    /// Passed to InputMenu as delegate to be able to set the state of child component ImageDisplay
    /// </summary>
    /// <param name="dirdone"></param>
    private async void BuildImageDisplay(bool dirdone)
    {
        if (dirdone)
        {
            await imageDisplayref.UpdateImageUrls();
        }

    }

}