@inject NavigationManager navmanager;
@inject PicDataService PicDataService;
@using Bulk_Thumbnail_Creator;
@using Bulk_Thumbnail_Creator.PictureObjects
@using Bulk_Thumbnail_Creator.Services

 <Loading processing="processing"></Loading>

@if (IMGDetailClicked == false)
{
    @if (imageUrls != null)
    {
        @foreach (var imageUrl in imageUrls)
        {
            imgurl = imageUrl;
            <button class="image-button" @onclick="() => ShowImageDetail(imageUrl)">
                <img src="@imageUrl" style="max-width: 300px; margin: 10px;" />
            </button>
        }

    }
}


@if (VarietyDone)
{
    <ImageDetail CurrentPagePictureData="picdata" ImageUrl="imageUrl" VarietyUrls="VarietyUrls"></ImageDetail>
}

@code
{
    private List<string> imageUrls;

    private string imgurl;

    private List<string> VarietyUrls;

    ImageDetail imageDetailref = new ImageDetail();

    [Inject]
    private NavigationManager navman { get; set; }

    // Load image URLs in the OnInitializedAsync lifecycle method
    protected override async Task OnInitializedAsync()
    {
        await UpdateImageUrls();
    }

    /// <summary>
    /// Builds Directory List of the produced images
    /// </summary>
    /// <returns></returns>
    public async Task UpdateImageUrls()
    {
        string imagePath = Settings.TextAddedDir;

        // Get the list of image files in the folder asynchronously
        string[] imageFiles = await Task.Run(() => Directory.GetFiles(imagePath, "*.png"));

        // Initialize the image URLs list
        imageUrls = new List<string>();

        // Create the URLs for the images and add them to the list
        foreach (string imageFile in imageFiles)
        {
            string imageUrl = $"/{imageFile}";
            imageUrls.Add(imageUrl);
        }

        // Notify the component that the state has changed
        StateHasChanged();
    }

    private bool IMGDetailClicked = false;

    private bool processing = false;

    private bool VarietyDone = false;

    private PictureData picdata = new();

    private async void ShowImageDetail(string imageUrl)
    {
        IMGDetailClicked = true;

        processing = true;

        picdata = PicDataService.SetPictureDataImageDisplayCorrelation(imageUrl);

        //List<string> VarietyUrls = new();

        VarietyUrls = await PicDataService.CreatePictureDataVariety(picdata);

        VarietyDone = true;

        processing = false;

        StateHasChanged();
    }
}
<style>
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .image-container img {
            max-width: calc(30% - 50px); /* Set the width for each image in the row */
            margin: 10px;
        }
</style>