@using WebUI.Pages;
@using WebUI.Components
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <CascadingAuthenticationState>
            <UserDisplay />
        </CascadingAuthenticationState>
        <div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 75%;">
            <img src="/images/BTCLogo.png?@(DateTime.UtcNow.Ticks)" style="max-width: 100%; max-height: 100%; object-fit: contain; margin: auto; display: block;" />
        </div>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" href="https://github.com/GodWasAProgrammer" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="align-content-center">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    // MudTheme BulkThumbnailCreatorTheme = new MudTheme()
    // {

    // };

    private int TakeEntries { get; set; } = 1;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}