<h3>Download Your work here</h3>

<MudText>Download the entire Video</MudText>
<MudButton>Download</MudButton>

<MudText>Download the output directory of unedited files</MudText>
<MudButton>Download</MudButton>

<MudText>Download the Text Added Directory</MudText>
<MudButton>Download</MudButton>

<MudText>Download Variety Directory</MudText>
<MudButton>Download</MudButton>


@code 
{
    private void DownloadVideo()
    {
        // download the video
    }

    private void DownloadOutPutDir()
    {
        // download outputdir
    }

    private void DownloadTextAddedDir()
    {
        // download TextAddedDir
    }

    private void DownloadVarietyDir()
    {
        // download Variety Dir
    }

}
