@using BulkThumbnailCreator;
@using BulkThumbnailCreator.PictureClasses
@using BulkThumbnailCreator.Services
@using BulkThumbnailCreator.Enums

@inject CreatorService PicDataService;
@inject JobService JService;
@inject Settings settings;
@inject AuthenticationStateProvider AuthProvider;

<div class="image-container">
    @if (CurrentJob is not null)
    {
        @if(CurrentJob.State is States.FrontPagePictureLineUp || CurrentJob.State is States.varietyList)
        {
            
        @if (IMGDetailClicked == false && CurrentJob.FrontLineUpUrls != null)
        {
            <div class="image-grid">
                @for (int i = 0; i < CurrentJob.FrontLineUpUrls.Count; i++)
                {
                    var index = i;

                    <img class="image-button" src="@CurrentJob.FrontLineUpUrls[index]" @onclick="(() => ShowImageDetail(CurrentJob.FrontLineUpUrls[index]))" />
                    @if ((i + 1) % 3 == 0)
                    {
                        <div style="flex-basis: 100%; height: 0;"></div>
                    }
                }
            </div>

            <div class="centered-text">
                <MudText>Pick an image to receive more varieties</MudText>
                <div class="button-container">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Reset" OnClick="JService.ResetState">Restart</MudButton>
                </div>
            </div>
        }
        else
        {
            <VarietyDisplay CurrentJob="CurrentJob" ParentPictureProp="picdata" VarietyUrls="CurrentJob.FrontLineUpUrls"></VarietyDisplay>
        }
        }
    }
</div>

@code
{
    [Parameter]
    public Job CurrentJob { get; set; }

    private string CurrentUser;

    private PictureData picdata = new();

    private bool IMGDetailClicked = false;

    private void reset()
    {
        CurrentJob = null;
        picdata = null;
        IMGDetailClicked = false;
        InvokeAsync(() => StateHasChanged());
    }

    public void OnStateChangedHandler(object sender, EventArgs e)
    {
        if (CurrentJob.State is States.FrontPagePictureLineUp)
        {
            // imageUrls = CurrentJob.FrontLineUpUrls;

        }
        if (CurrentJob.State is States.varietyList)
        {
            IMGDetailClicked = true;
            // VarietyUrls = CurrentJob.VarietyUrls;
        }
        InvokeAsync(() => StateHasChanged());
    }

    private void JobStateHasChanged()
    {
        StateHasChanged();
    }

    // Load image URLs in the OnInitializedAsync lifecycle method
    // decide which state the current job is in and load the appropriate image urls
    protected override async Task OnInitializedAsync()
    {
        JService.RegisterResetMethod(reset);

        var AuthState = await AuthProvider.GetAuthenticationStateAsync();

        CurrentUser = AuthState.User.Identity.Name;

        if (CurrentJob is not null)
        {
            CurrentJob.StateChanged += OnStateChangedHandler;
            JService.RegisterDelegateForJobChange(JobStateHasChanged);
            if (CurrentJob.State == States.FrontPagePictureLineUp)
            {

            }
            if (CurrentJob.State == States.varietyList)
            {
                picdata = await PicDataService.SetPictureDataImageDisplayCorrelation(CurrentJob.ClickedImage, CurrentJob);
            }
            if (CurrentJob.State == States.CustomPicture)
            {
                IMGDetailClicked = true;
                picdata = PicDataService.SetPictureDataImageDisplayCorrelationForVarietyList(CurrentJob.ClickedImage, CurrentJob);
            }

        }
        else
        {
            CurrentJob = await JService.RequestCurrentJob(CurrentUser);

            if (CurrentJob is not null)
            {
                CurrentJob.StateChanged += OnStateChangedHandler;
                if (CurrentJob.State == States.FrontPagePictureLineUp)
                {
                    StateHasChanged();
                }
                if (CurrentJob.State == States.varietyList)
                {
                    StateHasChanged();
                }
            }
        }
        await InvokeAsync(() => StateHasChanged());
    }

    public void RefreshImageDisplay()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private async Task ShowImageDetail(string imageToDisplayVarietyOf)
    {
        IMGDetailClicked = true;

        picdata = await PicDataService.SetPictureDataImageDisplayCorrelation(imageToDisplayVarietyOf, CurrentJob);
        CurrentJob.VarietyUrls = await PicDataService.CreatePictureDataVariety(picdata, CurrentJob);

        CurrentJob.ClickedImage = imageToDisplayVarietyOf;
        await InvokeAsync(() => StateHasChanged());
    }
}

<style>
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .image-container img {
            max-width: calc(30% - 50px); /* Set the width for each image in the row */
            margin: 10px;
        }

    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center-align the images horizontally */
    }

    .image-button {
        /* Add any additional styling for the images as needed */
        margin: 5px; /* Add some margin between images */
    }

    .centered-text {
        text-align: center; /* Center-align text horizontally */
    }

    .button-container {
        display: flex;
        justify-content: center; /* Center-align button horizontally */
        margin-top: 10px; /* Add margin space between text and button */
    }
</style>