@using Microsoft.JSInterop;

<h3>Some Sweet Cracktro Music to enjoy!</h3>

<audio id="audioPlayer" controls autoplay>
    <source src="@musicUrl" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

@code
{
    private string musicUrl = "song.mp3";

    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // Play the audio when the component is first rendered
            await JSRuntime.InvokeVoidAsync("playAudio");
        }

    }
}