@using BulkThumbnailCreator.PictureClasses
@using BulkThumbnailCreator.Services;
@inject CreatorService ds;
@inject NavigationManager Navigation;
@inject IJSRuntime JavaScript;
@inherits ComponentBase

@if (GoBack != null)
{
    <div style="display: flex; justify-content: center;">
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="GoBack">Back</MudButton>
    </div>
}
<MudPaper Elevation="6">

    <MudContainer>

        <MudItem>
            @if (ImageURL != null)
            {
                <div style="cursor: pointer;" @onclick="() => OpenImageInNewTab(ImageURL) ">
                    <MudImage Fluid="true" Src="@ImageURL" />
                </div>
            }

        </MudItem>

        <MudGrid>
            @if (PicData != null)
            {
                @foreach (ParamForTextCreation boxParam in PicData.BoxParameters)
                {
                    <ParamDisplay param="boxParam"></ParamDisplay>
                }
            }

        </MudGrid>

    </MudContainer>

</MudPaper>

@if (GoBack != null)
{
    <div style="display: flex; justify-content: center;">
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="GoBack">Back</MudButton>
    </div>
}

@code
{
    [Parameter]
    public string ImageURL { get; set; }

    [Parameter]
    public PictureData PicData { get; set; }

    [Parameter]
    public Action GoBack { get; set; }

    private async Task OpenImageInNewTab(string imageUrl)
    {
        await JavaScript.InvokeVoidAsync("open", ImageURL, "_blank");
    }
}