@using Bulk_Thumbnail_Creator.Services;
@using Bulk_Thumbnail_Creator.PictureObjects;
@using Bulk_Thumbnail_Creator.Interfaces;
@using Bulk_Thumbnail_Creator;
@using Bulk_Thumbnail_Creator.Enums;

@using WebUI.Pages;
@inject PicDataService PicDataService;
@inject ILogService logger;
@inject JobService JobService;

<div class="image-container">
    @if (VarietyUrls != null && CustomPicture == false)
    {

        @for (int ClickedImage = 0; ClickedImage < VarietyUrls.Count; ClickedImage++)
        {
            var index = ClickedImage;

            <img class="image-button" src="@VarietyUrls[index]" @onclick="(() => NavToCustomizePicture(VarietyUrls[index]))" />
            @if ((ClickedImage + 1) % 3 == 0)
            {
                <div style="flex-basis: 100%; height: 0;"></div>
            }

        }

    }

    @if (CustomPicture)
    {
        <CustomizePicture CurrentJob="CurrentJob" CurrentPagePictureData="passData" ImageURL="@passURL" ResetState="ResetState"/>
    }

</div>

@code
{
    [Parameter]
    public Delegate ResetState { get; set; }

    private void Reset()
    {
        ResetState.DynamicInvoke();
        CurrentJob = JobService.Reset();
        VarietyUrls.Clear();
        passURL = null;
        passData = null;
        CustomPicture = false;
        StateHasChanged();
    }

    [Parameter]
    public Job CurrentJob { get; set; }

    [Parameter]
    public PictureData ParentPictureProp { get; set; }

    // pass to customize Picture
    private PictureData passData;

    private List<string> _VarietyUrls = new();

    [Parameter]
    public List<string> VarietyUrls { get { return _VarietyUrls; } set { _VarietyUrls = value; } }

    // pass to customize Picture
    private string passURL;

    private bool CustomPicture = false;

    protected override async Task OnInitializedAsync()
    {
        if (CurrentJob == null)
        {
            CurrentJob = await JobService.RequestCurrentJob();
        }
        else
        {
            if (CurrentJob != null)
            {
                // if its not null we have to set the values for the respective child components to pass state
                // first we figure out which state, should be VarietyList or Custom

                // if it state of varietylist we will set the correlating varietylist.
                if (CurrentJob.State == States.varietyList)
                {
                    VarietyUrls = CurrentJob.VarietyUrls;
                    StateHasChanged();
                }
                if (CurrentJob.State == States.CustomPicture)
                {
                    // disable the varietylist from being shown since we have already clicked an image
                    // lifts the clicked image
                    passURL = CurrentJob.ClickedImage;

                    // creates an instance of a picdata to pass to child

                    PictureData passData = new();

                    passData = PicDataService.SetPictureDataImageDisplayCorrelationForVarietyList(passURL);
                    CustomPicture = true;
                    StateHasChanged();
                }

            }
        }

    }

    private void NavToCustomizePicture(string imageURL)
    {
        // set the correct state of the currentjob
        CurrentJob.State = States.CustomPicture;

        // passes which image we have clicked to preserve state on load
        CurrentJob.ClickedImage = imageURL;

        CustomPicture = true;

        PictureData passData = new();

        passURL = imageURL;

        passData = PicDataService.SetPictureDataImageDisplayCorrelationForVarietyList(imageURL);

        this.passData = passData;
    }

}

<style>
    /* Style the image container */
    .image-container2 {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
    }

    image-container img {
        max-width: calc(50% - 50px); /* Set the width for each image in the row */
        margin: 10px;
    }
</style>

<style>
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .image-container img {
            max-width: calc(30% - 50px); /* Set the width for each image in the row */
            margin: 10px;
        }
</style>