@page "/"

@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using Bulk_Thumbnail_Creator;

<PageTitle>Bulk Thumbnail Creator</PageTitle>
<h1>Bulk Thumbnail Creator</h1>

<BTCInputMenu></BTCInputMenu>
