@page "/"

@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using Bulk_Thumbnail_Creator;
@using Bulk_Thumbnail_Creator.Serialization;

<PageTitle>Bulk Thumbnail Creator</PageTitle>
<h1>Bulk Thumbnail Creator</h1>

<InputMenu returnStateUpdate="@BuildImageDisplay"></InputMenu>

<ImageDisplay @ref="imageDisplayref">  </ImageDisplay>

@code
{
    private List<string> DownloadedVideosList = new() { "Video 1", "video 2" };

    ImageDisplay imageDisplayref;

    private List<string> DisplayList = new();

    private async void BuildImageDisplay(bool dirdone)
    {
        if(dirdone)
        {
            await imageDisplayref.UpdateImageUrls();
        }

    }

    private void BuildVideosList()
    {
        DownloadedVideosList = Serializing.DeSerializeXMLToListOfStrings(Settings.PathToXMLListOfDownloadedVideos);

        foreach (var video in DownloadedVideosList)
        {
            DisplayList.Add(Path.GetFileName(video));
        }

    }

    protected override void OnInitialized()
    {
        BuildVideosList();
    }

}