@page "/"

@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using Bulk_Thumbnail_Creator;
@using Bulk_Thumbnail_Creator.Serialization;

<PageTitle>Bulk Thumbnail Creator</PageTitle>
<h1>Bulk Thumbnail Creator</h1>

<InputMenu></InputMenu>

@code
{
    private List<string> DownloadedVideosList = new() { "Video 1", "video 2" };
    private List<string> DisplayList = new();

    private void BuildVideosList()
    {
        DownloadedVideosList = Serializing.DeSerializeXMLToListOfStrings(Settings.PathToXMLListOfDownloadedVideos);

        foreach (var video in DownloadedVideosList)
        {
            DisplayList.Add(Path.GetFileName(video));
        }

    }

    protected override void OnInitialized()
    {
        BuildVideosList();
    }

}
