@page "/"

@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using Bulk_Thumbnail_Creator;
@using Bulk_Thumbnail_Creator.Serialization;

<PageTitle>Bulk Thumbnail Creator</PageTitle>
<h1>Bulk Thumbnail Creator</h1>

<InputMenu returnStateUpdate="@BuildImageDisplay"></InputMenu>

<ImageDisplay @ref="imageDisplayref">  </ImageDisplay>

@code
{
    ImageDisplay imageDisplayref;

    /// <summary>
    /// Passed to InputMenu as delegate to be able to set the state of child component ImageDisplay
    /// </summary>
    /// <param name="dirdone"></param>
    private async void BuildImageDisplay(bool dirdone)
    {
        if(dirdone)
        {
            await imageDisplayref.UpdateImageUrls();
        }

    }

}