@inject Bulk_Thumbnail_Creator.PictureObjects.PictureDataService PicDataService;
@page "/imagedetail/{imageUrl}"

<div class="container">
            <img src="@ImageUrl" style="max-width: 100%;" />
            <PictureDataBox PicData="@CurrentPagePictureData" />
            <VarietyDisplay ParentPictureProp="CurrentPagePictureData"></VarietyDisplay>
</div>