@inject Bulk_Thumbnail_Creator.PictureObjects.PictureDataService PicDataService;
@page "/imagedetail/{imageUrl}"

    <div class="center-content"><PictureDataBox ImageURL="@ImageUrl" PicData="@CurrentPagePictureData" /></div>

            <VarietyDisplay ParentPictureProp="CurrentPagePictureData"></VarietyDisplay>