@page "/imagedisplay"
@inject Bulk_Thumbnail_Creator.PictureObjects.PictureDataService ds

@if (IMGDetailClicked == false)
{
   
        @if(imageUrls != null)
        {
        <div class="image-container">
        @foreach (var imageUrl in imageUrls)
        {
            <button class="image-button" @onclick="() => ShowImageDetail(imageUrl)">
                <img src="@imageUrl" style="max-width: 300px; margin: 10px;" />
            </button>
            }
        </div>
        }

}
else
{
    <div class="horizontal-align">

        <div>
            <img src="images/pepe-dance.gif" alt="Loading..." style="width: 500px; height: 500px; border:0;" />
        </div>
    </div>

}