@page "/musicplayer"

<h3>Some Sweet Cracktro Music to enjoy!</h3>

<audio id="audioPlayer" controls autoplay>
    <source src="@musicUrl" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

