@using Bulk_Thumbnail_Creator.PictureObjects;
<div class="grid-container">
    <div class="picture-data-box">
        <h3 class="studded-header">Picture Data</h3>
        <img src="@ImageURL" style="max-width: 100%;" />
        <div class="fact-box">
            <div class="fact-group">
                <div class="fact-title">Picture Data names</div>
                <div class="fact-item">Current font name: @Path.GetFileName(PicData.ParamForTextCreation.Font)</div>
                <div class="fact-item">Base Filename: @PicData.FileName</div>
                <div class="fact-item">Production Filename:@Path.GetFileName(PicData.OutPath) </div>
            </div>
            <div class="fact-group">
                <div class="fact-title">Picture Data values</div>
                <div class="fact-item">Output Type:@PicData.OutPutType</div>
                <div class="fact-item">Current Text Box:@PicData.ParamForTextCreation.CurrentBox</div>
                <div class="fact-item">Text To be Printed:@PicData.ParamForTextCreation.Text</div>
                <div class="fact-item">Width of text box:@PicData.ParamForTextCreation.WidthOfBox</div>
                <div class="fact-item">Position Of text: @PicData.ParamForTextCreation.PositionOfText</div>
            </div>
        </div>
    </div>
    </div>

@code
{
    [Parameter]
    public string ImageURL { get; set; }
    [Parameter]
    public PictureData PicData { get; set; }

}