@inject Bulk_Thumbnail_Creator.PictureObjects.PictureDataService PicDataService;
@page "/varietydisplay"

<h3>Variety Pictures</h3>
<div class="image-container">
    @foreach (var imageUrl in imageURL)
    {
        <img src="@imageUrl" style="max-width: 300px; margin: 10px;" />
    }
</div>

@code {
    private List<string> imageURL = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await CreateVarietyAsync();
        LoadImageUrls();
    }

    private async Task CreateVarietyAsync()
    {
        imageUrls = await PicDataService.CreatePictureDataVariety(ParentPictureProp);
    }

    private void LoadImageUrls()
    {
        string baseImagePath = Bulk_Thumbnail_Creator.BTCSettings.TextAddedDir;
        string[] subdirectories = Directory.GetDirectories(baseImagePath);

        foreach (string subdirectory in subdirectories)
        {
            string[] imageFiles = Directory.GetFiles(subdirectory, "*.png");

            foreach (string imageFile in imageFiles)
            {
                string imageUrl = $"/{imageFile}"; // Convert local path to renderable URL
                imageURL.Add(imageUrl);
            }
        }
    }
}
