@inject Bulk_Thumbnail_Creator.PictureObjects.PictureDataService PicDataService;

<h3>Variety Pictures</h3>
<div class="image-container">
    @foreach (var imageUrl in imageUrls)
    {
        <button class="image-button" @onclick="() => SetPictureVarietyContent(ParentPictureProp)">
            <img src="@imageUrl" style="max-width: 300px; margin: 10px;" />
        </button>
    }

</div>
