@inject Bulk_Thumbnail_Creator.PictureObjects.PictureDataService PicDataService;

<h3>Variety Pictures</h3>
<div class="image-container">
   @*  @foreach (var variety in ParentPictureProp.Varieties)
    {
        <button class="image-button"><img src="@variety.ImageUrl"</button>

    } *@

</div>
